global
    log stdout format raw local0 info

defaults
    mode tcp
    timeout connect 10000ms
    timeout client 60000ms
    timeout server 60000ms

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

frontend mqtt_front
    bind *:1883
    default_backend mqtt_backend

backend mqtt_backend
    balance roundrobin
    option tcp-check
    timeout check 5000ms
    server emqx1 emqx1:1883 check resolvers docker inter 3000ms rise 2 fall 3
    server emqx2 emqx2:1883 check resolvers docker inter 3000ms rise 2 fall 3
    server emqx3 emqx3:1883 check resolvers docker inter 3000ms rise 2 fall 3


