POSTGRES_PASSWORD=replace-me
CHIRPSTACK_API_SECRET=replace-me
CHIRPSTACK_EMQX_COOKIE=replace-me
CHIRPSTACK_EMQX_DASHBOARD_PASSWORD=replace-me
CHIRPSTACK_MQTT_PASSWORD=replace-me
GATEWAY_MQTT_PASSWORD=replace-me
METRICS_MQTT_PASSWORD=replace-me
LORAWAN_INFLUX_USERNAME=root
LORAWAN_INFLUX_PASSWORD=replace-me
LORAWAN_INFLUX_TOKEN=replace-me
