FOG_EMQX_COOKIE=replace-me
FOG_EMQX_DASHBOARD_PASSWORD=replace-me
FOG_EU868_MQTT_PASSWORD=replace-me
FOG_US915_MQTT_PASSWORD=replace-me
FOG_IN865_MQTT_PASSWORD=replace-me
FOG_RU864_MQTT_PASSWORD=replace-me
CHIRPSTACK_BRIDGE_MQTT_PASSWORD=replace-me
FOG_REDIS_PASSWORD=replace-me
